<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>Your Safe Security Box</h1>
    <ul class="keys">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="key">
            <span><%= info[i].appName %></span>
            <span><%= info[i].securityCode %></span>
            <span><%= info[i].likes %></span>
            <span class='fa fa-lock'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h2>Add Application and Security Code</h2>

    <form action="/addKey" method="POST">
        <input type="text" placeholder="Application" name="appName">
        <input type="text" placeholder="Password" name="securityCode">
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
